[% USE raw %]
[% USE Asset %]
[% USE KohaDates %]
[% USE Branches %]
[% USE Koha %]
[% SET footerjs = 1 %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Serials [% biblionumber | html %]</title>
[% Asset.css("css/datatables.css") | $raw %]
[% INCLUDE 'doc-head-close.inc' %]
</head>

<body id="acq_newordersubscription" class="acq">
[% INCLUDE 'header.inc' %]
[% INCLUDE 'acquisitions-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/acqui/acqui-home.pl">Acquisitions</a> &rsaquo; <a href="/cgi-bin/koha/acqui/supplier.pl?booksellerid=[% booksellerid | html %]">[% booksellername | html %]</a> &rsaquo; <a href="/cgi-bin/koha/acqui/basket.pl?basketno=[% basketno | html %]">Basket [% basketno | html %]</a> &rsaquo; Add order from a subscription</div>

<div class="main container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-push-2">
            <main>

            <h2>Serials subscriptions</h2>
            [% IF (done_searched) %]
                <label for="show_only_renewed">
                    <input type="checkbox" style="vertical-align: middle;" id="show_only_renewed" />
                    Show only renewed
                </label>
                [% IF (subs_loop) %]
                    <table id="srlt">
                        <thead>
                            <tr>
                                <th>ISSN</th>
                                <th class="anti-the">Title</th>
                                <th> Notes </th>
                                <th>Vendor</th>
                                <th>Library</th>
                                <th>Call number</th>
                                <th class="title-string">Expiration date</th>
                                <th class="NoSort"></th>
                            </tr>
                        </thead>
                        <tbody>
                        [% FOREACH sub IN subs_loop %]
                            <tr data-reneweddate="[% sub.reneweddate | html %]" >
                                <td>[% sub.issn | html %]</td>
                                <td><a href="/cgi-bin/koha/serials/subscription-detail.pl?subscriptionid=[% sub.subscriptionid | uri %]" class="button" title="subscription detail">[% IF (sub.title) %][% sub.title | html %][% ELSE %]
                                ---
                            [% END %][% IF (sub.unititle) %], [% sub.unititle | html %][% END %]</a>
                                </td>
                                <td>[% IF (sub.publicnotes) %][% sub.publicnotes | html %][% END %]
                                    [% IF (sub.internalnotes) %]([% sub.internalnotes | html %])[% END %]
                                </td>
                                <td>
                                    [% IF (sub.vendorname) %][% sub.vendorname | html %][% END %]
                                </td>
                                <td>
                                    [% IF (sub.branchcode) %][% Branches.GetName( sub.branchcode ) | html %][% END %]
                                </td>
                                <td>
                                    [% IF (sub.callnumber) %][% sub.callnumber | html %][% END %]
                                </td>
                                <td>
                                    [% IF (sub.enddate) %]
                                        <span title="[% sub.enddate | html %]">[% sub.enddate | $KohaDates %]</span>
                                    [% ELSE %]
                                        <span title="0000-00-00"></span>
                                    [% END %]
                                </td>
                                <td class="actions">
                                    [% IF (sub.alreadyOnOrder) %]
                                        Outstanding order
                                    [% END %]
                                    [% IF not sub.aqbooksellerid || booksellerid == sub.aqbooksellerid %]
                                        <a href="/cgi-bin/koha/acqui/neworderempty.pl?booksellerid=[% booksellerid | uri %]&amp;basketno=[% basketno | uri %]&amp;biblionumber=[% sub.biblionumber | uri %]&amp;from_subscriptionid=[% sub.subscriptionid | uri %]" title="Order this one" class="btn btn-default btn-xs">
                                            <i class="fa fa-plus"></i> Order
                                        </a>
                                    [% ELSE %]
                                        <a title="This subscription depends on another supplier" style="cursor:help">Cannot be ordered</a>
                                    [% END %]
                                </td>
                            </tr>
                        [% END %]
                        </tbody>
                    </table>
                [% ELSE %]
                    <p>Sorry, there is no result for your search.</p>
                [% END %]
            [% ELSE %]
                <p>Use the search form on the left to find subscriptions.</p>
            [% END %]
        </main>
    </div> <!-- /.col-sm-10.col-sm-push-2 -->

<div class="col-sm-2 col-sm-pull-10">
    <aside>
        [% INCLUDE 'subscriptions-search.inc' %]
        [% INCLUDE 'acquisitions-menu.inc' %]
    </aside>
</div> <!-- /.col-sm-2.col-sm-pull-10 -->
</div> <!-- /.row -->

[% MACRO jsinclude BLOCK %]
    [% Asset.js("js/acquisitions-menu.js") | $raw %]
    [% INCLUDE 'datatables.inc' %]
    <script>
        function updateRowsVisibility(show_only_renewed) {
            if ( show_only_renewed ) {
                $("#srlt [data-reneweddate='']").hide();
            } else {
                $("#srlt > tbody > tr").show();
            }
        }

        $(document).ready(function() {
            $("#srlt").dataTable($.extend(true, {}, dataTablesDefaults, {
                "aoColumnDefs": [
                    { "bSortable": false, "bSearchable": false, 'aTargets': [ 'NoSort' ] },
                    { "sType": "anti-the", "aTargets" : [ "anti-the" ] },
                    { "sType": "title-string", "aTargets" : [ "title-string" ] }
                ],
                "sPaginationType": "four_button"
            }));

            $("#show_only_renewed").click(function(){
                updateRowsVisibility( $(this).is(":checked") );
            });
            $("#show_only_renewed").prop('checked', false);
            updateRowsVisibility(false);

            $("#advsearch_form").show();
        });
    </script>
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
