[% USE raw %]
[% USE Asset %]
[% USE Koha %]
[% USE Branches %]
[% USE KohaDates %]
[% USE ColumnsSettings %]
[% USE AuthorisedValues %]
[% USE Price %]
[% USE Branches %]
[% SET footerjs = 1 %]

[% PROCESS 'accounts.inc' %]

[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Patrons &rsaquo; Account for [% INCLUDE 'patron-title.inc' no_html = 1 %]</title>
[% INCLUDE 'doc-head-close.inc' %]
[% Asset.css("css/datatables.css") | $raw %]
</head>

<body id="pat_borraccount" class="pat">
[% INCLUDE 'header.inc' %]
[% INCLUDE 'patron-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Patrons</a>  &rsaquo; Account for [% INCLUDE 'patron-title.inc' %]</div>

<div class="main container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-push-2">
            <main>

[% INCLUDE 'members-toolbar.inc' %]
<form action="/cgi-bin/koha/members/boraccount.pl" method="get"><input type="hidden" name="borrowernumber" id="borrowernumber" value="[% patron.borrowernumber | html %]" /></form>

<!-- The manual invoice and credit buttons -->
<div class="statictabs">
<ul>
    <li class="active"><a href="/cgi-bin/koha/members/boraccount.pl?borrowernumber=[% patron.borrowernumber | uri %]">Transactions</a></li>
    <li><a href="/cgi-bin/koha/members/pay.pl?borrowernumber=[% patron.borrowernumber | uri %]" >Make a payment</a></li>
    <li><a href="/cgi-bin/koha/members/maninvoice.pl?borrowernumber=[% patron.borrowernumber | uri %]" >Create manual invoice</a></li>
    <li><a href="/cgi-bin/koha/members/mancredit.pl?borrowernumber=[% patron.borrowernumber | uri %]" >Create manual credit</a></li>
</ul>
<div class="tabs-container">
<!-- The table with the account items -->
<table id="table_account_fines">
    <thead>
      <tr>
          <th class="title-string">Date</th>
          <th>Description of charges</th>
          <th>Home library</th>
          <th>Note</th>
          <th>Amount</th>
          <th>Outstanding</th>
          <th>Actions</th>
        </tr>
    </thead>

	<!-- FIXME: Shouldn't hardcode dollar signs, since Euro or Pound might be needed -->
  [% FOREACH account IN accounts %]

   <tr>
   <td><span title="[% account.date | html %]">[% account.date |$KohaDates %]</span></td>
      <td>
        [% PROCESS account_type_description account=account %]
        [%- IF account.payment_type %], [% AuthorisedValues.GetByCode('PAYMENT_TYPE', account.payment_type) | html %][% END %]
        [%- IF account.description %], [% account.description | html %][% END %]
        &nbsp;[% IF ( account.itemnumber ) %]<a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=[% account.item.biblionumber | uri %]&amp;itemnumber=[% account.itemnumber | uri %]">[% account.item.biblio.title | html %]</a>[% END %]</td>
      <td>[% IF account.itemnumber %][% Branches.GetName( account.item.homebranch ) | html %][% END %]</td>
      <td>[% account.note | html_line_break %]</td>
      [% IF account.amount <= 0 %]<td class="credit" style="text-align: right;">[% ELSE %]<td class="debit" style="text-align: right;">[% END %][% account.amount | $Price %]</td>
      [% IF account.amountoutstanding <= 0 %]<td class="credit" style="text-align: right;">[% ELSE %]<td class="debit" style="text-align: right;">[% END %][% account.amountoutstanding | $Price %]</td>
      <td class="actions">
        [% IF ( account.is_credit ) %]
          <a target="_blank" href="printfeercpt.pl?action=print&amp;accountlines_id=[% account.accountlines_id | uri %]&amp;borrowernumber=[% account.borrowernumber | uri %]" class="btn btn-default btn-xs"><i class="fa fa-print"></i> Print</a>
        [% ELSE %]
          <a target="_blank" href="printinvoice.pl?action=print&amp;accountlines_id=[% account.accountlines_id | uri %]&amp;borrowernumber=[% account.borrowernumber | uri %]" class="btn btn-default btn-xs"><i class="fa fa-print"></i> Print</a>
        [% END %]
        <a href="accountline-details.pl?accountlines_id=[% account.accountlines_id | uri %]" class="btn btn-default btn-xs"><i class="fa fa-list"></i> Details</a>
        [% IF account.is_credit %]
          <a href="boraccount.pl?action=void&amp;accountlines_id=[% account.accountlines_id | uri %]&amp;borrowernumber=[% account.borrowernumber | uri %]" class="btn btn-default btn-xs void"><i class="fa fa-ban"></i> Void</a>
        [% END %]
      </td>
    </tr>

  [% END %]
<tfoot>
  <tr>
    <td colspan="5">Total due</td>
    [% IF ( totalcredit ) %]
        <td class="credit" style="text-align: right;">[% total | $Price %]</td>
    [% ELSE %]
       <td class="debit"style="text-align: right;">[% total | $Price %]</td>
    [% END %]
    <td></td>
  </tr>
  </tfoot>
</table>
</div>
</div>

            </main>
        </div> <!-- /.col-sm-10.col-sm-push-2 -->

        <div class="col-sm-2 col-sm-pull-10">
            <aside>
                [% INCLUDE 'circ-menu.inc' %]
            </aside>
        </div> <!-- /.col-sm-2.col-sm-pull-10 -->
     </div> <!-- /.row -->

[% MACRO jsinclude BLOCK %]
    [% INCLUDE 'datatables.inc' %]
    [% INCLUDE 'columns_settings.inc' %]
    [% INCLUDE 'str/members-menu.inc' %]
    [% Asset.js("js/members-menu.js") | $raw %]
    <script>
        $(document).ready(function() {
            var txtActivefilter = _("Filter paid transactions");
            var txtInactivefilter = _("Show all transactions");
            var columns_settings = [% ColumnsSettings.GetColumns('members', 'fines', 'account-fines', 'json') | $raw %];
            var table_account_fines = KohaTable("table_account_fines", {
                "sPaginationType": "four_button",
                'aaSorting': [[0, 'desc']],
                "sDom": 'C<"top pager"ilpfB><"#filter_c">tr<"bottom pager"ip>',
                "aoColumnDefs": [
                    { "sType": "title-string", "aTargets" : [ "title-string" ] },
                    { "bSortable": false, "bSearchable": false, "aTargets": [-1] }
                ]
            }, columns_settings);
            $("#filter_c").html('<p><a href="#" id="filter_transacs"><i class="fa fa-filter"></i> '+txtActivefilter+'</a>');
            $('#filter_transacs').click(function(e) {
                e.preventDefault();
                if ($(this).hasClass('filtered')) {
                    var filteredValue = '';
                    $(this).html('<i class="fa fa-filter"></i> '+txtActivefilter);
                } else { //Not filtered. Let's do it!
                    var filteredValue = '^((?!0.00).*)$'; //Filter not matching 0.00 http://stackoverflow.com/a/406408
                    $(this).html('<i class="fa fa-filter"></i> '+txtInactivefilter);
                }
                table_account_fines.fnFilter(filteredValue, 5, true, false);
                $(this).toggleClass('filtered');
            });

            $(".void").on("click",function(e){
                if( confirm( _("Are you sure you want to void this credit?") ) ) {
                    return true;
                } else {
                    e.preventDefault();
                }
            });
        });
    </script>
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
